//Font set
#app
  font-family: Nanum Gothic, Oxygen, Noto Sans JP, sans-serif

//Maincolor
$main-color : #3041a9

//Remove border shadow when focused
$btn-box-shadow:              none
$btn-focus-width:             none
$btn-focus-box-shadow:        none
$input-box-shadow:            none
$input-focus-box-shadow:      none
$btn-close-focus-shadow:      none




// set element's border raidus to 0
.btn,
input,
textarea,
select
  border-radius: 0 !important



  
@import "../../node_modules/bootstrap/scss/bootstrap"
@import "hs.sass"
@import "dh.sass"
@import "jy.sass"
@import "../../node_modules/bootstrap/scss/bootstrap"
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+JP:wght@100;400;900&family=Oxygen&display=swap')

