//Font set
#app
  font-family: Noto Sans KR, Nanum Gothic, Oxygen, Noto Sans JP, sans-serif

//Maincolor
$main-color : #3041a9

//Remove border shadow when focused
$btn-box-shadow:              none
$btn-focus-width:             none
$btn-focus-box-shadow:        none
$input-box-shadow:            none
$input-focus-box-shadow:      none
$btn-close-focus-shadow:      none
$form-check-input-focus-box-shadow: none



// set element's border raidus to 0
.btn,
input,
textarea,
select
  border-radius: 0 !important

*
  font-family: Pretendard-Regular


  
@import "../../node_modules/bootstrap/scss/bootstrap"
@import "hs.sass"
@import "dh.sass"
@import "jy.sass"
@import "../../node_modules/bootstrap/scss/bootstrap"
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+JP:wght@100;400;900&family=Oxygen&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&display=swap')
@import url('https://webfontworld.github.io/NexonMabinogi/MabinogiClassic.css')

//
@font-face
  font-family: 'PyeongChangPeace-Bold'
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Pretendard-Regular'
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'RixInooAriDuriR'
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'SBAggroB'
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff')
  font-weight: normal
  font-style: normal


